{% extends "base.html" %}

{% block content %}

<h1>Sign In</h1>
<form action="" method="POST" novalidate>
    {{ forms.hidden_tag() }}
    <p>
        {{ forms.username.label }}<br>
        {{ forms.username(size=32) }}
        {% for error in forms.username.errors %}
        <span style="color: red;">[{{ error }}]
            {% endfor %}
    </p>
    <p>
        {{ forms.password.label }}<br>
        {{ forms.password(size=32) }}
        {% for error in forms.password.errors %}
        <span style="color: red;">[{{ error }}]
            {% endfor %}
    </p>
    <p>
        {{ forms.remember_me }}{{ forms.remember_me.label }}
    </p>
    {{ forms.submit() }}
</form>

{% endblock content %}